* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

.container-game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
}

.container-cell {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px 10px rgba(22, 22, 22, 0.383);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    width: 100px;
    height: 100px;
    /* background-color: red; */
    border: 1px solid gray;
    position: relative;
}

.turn {
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 20px;
}

.rematch {
    color: whitesmoke;
    background-color: rgb(238, 50, 50);
    font-weight: 30px;
    text-align: center;
    padding: 20px 3px;
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
}

.fill-x::after {
    content: "";
    transform: translate(-50%, -50%) rotate(45deg);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 50px;
    background-color: purple;
    border-radius: 5px;
}

.fill-x::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    transform: translate(-50%, -50%) rotate(135deg);
    width: 5px;
    left: 50%;
    top: 50%;
    height: 50px;
    background-color: purple;
}

.fill-o::after {
    content: "";
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    border: 5px solid green;
    border-radius: 50%;
}

.line {
    width: 10px;
    height: 290px;
    position: absolute;
    background-color: red;
    display: none;
}

.col11 {
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.col33 {
    right: 45%;
    top: 50%;
    transform: translate(+50%, -50%);
}

.row11 {
    left: 50%;
    top: 10%;
    transform: translate(-50%, +50%) rotate(90deg);
}

.row22 {
    transform: rotate(90deg);
}

.row33 {
    left: 50%;
    top: 30%;
    transform: translate(-50%, +50%) rotate(90deg);
}

.or11 {
    transform: rotate(-45deg);
    height: 350px;
}

.or22 {
    transform: rotate(45deg);
    height: 350px;
}

.win {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: green;
    display: none;
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translate(-50%, 0);
}